<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="predator.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="predator.app.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="predator.app.mapa"
            android:label="@string/title_activity_mapa" >
        </activity>
        <activity
            android:name="predator.app.map1"
            android:label="@string/title_activity_map1" >
        </activity>
        <activity
            android:name="predator.app.map2"
            android:label="@string/title_activity_map2" >
        </activity>
        <activity
            android:name="predator.app.map3"
            android:label="@string/title_activity_map3" >
        </activity>
        <activity
            android:name="predator.app.map4"
            android:label="@string/title_activity_map4" >
        </activity>
        <activity
            android:name="predator.app.map5"
            android:label="@string/title_activity_map5" >
        </activity>
        <activity
            android:name="predator.app.lvl1world1"
            android:label="@string/title_activity_lvl1world1" >
        </activity>
    </application>

</manifest>
